body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color: #575fcf;
}

#cabecalho .nav .nav-link .active{
    background-color:#e15f41;
    color: #fff;
}

#cabecalho .nav .nav-link,
.nav-brand,
.nav-brand:hover,
.nav-cardapio .nav-link .active:hover {
    color:#fff;
}

.navbar-toggler{
    background-color: #fff;
}

.section-title {
    font-family:'Russo One', sans-serif;
    color:black;
    font-size: 50px;
}

h1{
    color:black;
}

.section-title span{
    color:#e15f41;
}

.nav-item a{
    color:#fff;
    text-decoration: none;
}

.nav-item{
    margin-left: 3px;
    margin-right: 3px;
}

#sobre-a-empresa{
    background-color: #ffeae6;
}

.text-colored{
    color:#e15f41;
}

.nav-link{
    background-color:#e15f41;
    color:#fff;
}

.carousel-item img{
    height:600px;
}

#nossos-trabalhos{
    background-color: #ffeae6;
}

#depoimentos p{
    text-align: center;
}

.accordion-body button a{
    text-decoration: none;
    background-color:#e15f41;
}

 .nav-link .active,
#fale-conosco{
    background-color:#fff;
    color:black;
}

.social-links{
    display: flex;
    text-decoration: none;
    list-style: none;
}

footer{
    background-color: black;
    color:white;
    border-top:solid 2px #575fcf;
}